.sizeImg{
    width: 20em;
    height: 15em;
}

.size{
    width:20em;
}

@media only screen and (max-width: 500px) {
    .sizeImg {
       width:100%;
       height: 17em;
      }

      .size{
        width:100%; 
      }
    }