.inputSize{
width:30%;
border-radius: 0.4em;
margin:0.4em
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 600px) {
    .inputSize {
      width:80%
    }
  }